:root {
  --navBg: #060b26;
}

.selectedItemStyle {
  background-color: #eeeeee;
  border-radius: 5px; 
}
.navbar {
  background: #28282e;
  color: floralwhite;
  font-size: large;
  height: 10%;
  /* display: flex; */
  justify-content: start;
  align-items: center;
  margin-left: 0%;
}
.navbar h2 {
  /*margin-left: 18em;*/
  margin-left: auto;
  margin-right: auto;
}

.menu-bars {
  margin-left: 2rem;
  margin-bottom: 5px;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #28282e;
  width: 250px;
  height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
  /* position: fixed; */
  top: 0;
  left: -100%;
  /* transition: 850ms; */
  padding-left: 20px;
}


.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
  padding: 0;
}

.navbar-toggle {
  background-color: #28282e;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

h2 {
  margin-bottom: 5px;
  margin-right: 100px;
}

.nav-link {
  margin-top: -30px;
}

.page_call_button
{
  font-size: 20px;
  padding-right: 10px;
  color: 'gray';
}
.page_call_icon
{
  size: 20;
}

.search_box
{
  width: 10%;
  background: white;
  text-align: left;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;

}


.greenAI_header
{
     padding: 0px; 
     margin-left: 0px;
    margin-top: none;
     margin-bottom: 10px;
    width: -moz-fit-content;
    /* width: fit-content; */
    /* border-radius: 1vh; */
    /* opacity: 0.9; */
    background-size: 210;
    /* background-color: #323232; */
     border: none;
    /* color: white; */
    /* background: none; */
    font-size: 13px;
    color:'#9FA2B4';
    padding-top:0px;
    background-color:"#28282d" !important ;
    font-size :20px;

}

.elememt_class
{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
  padding-left: 2px;
}

.container {
  display: flex !important;
}

.nav-menu {
  width: 20%; /* Adjust as needed */
}

.content {
  flex: 1 !important;
}

.navbar-link a {
  color: #ffffff !important;
}

.selectedItemStyle a {
  color: #000000 !important;
}