/*.table-wrapper {
  width: fit-content;
  position: static;
  height: 100vh;
    margin: 0 auto;
  }
  span {
    padding: 10px;
  }


body {
  background: linear-gradient(
    rgba(102, 104, 139, 1),
    rgba(0, 2, 4, 0.8)
  );
  background-attachment: fixed;
  background-size: cover;
  overflow-y:'auto';
  overflow-x:'hidden';
}

#background {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      rgba(145, 135, 186, 0.31),
      rgba(165, 243, 187, 0)
  );
  position: fixed;
  left: 30%;
  transform: rotate(-110deg);
  z-index: -1;
}

h1 {
  /*background: transparent;
  background-color: #000000;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
  padding-bottom: 6px 0 2px 0;
  margin-bottom: 10px;
}

#title {
  display: flex;
  justify-content: start;
  align-items: center;
}

#title h1 {
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
}

*/
/***    General     ***/
* {
  box-sizing: border-box;
  /*margin: 0;
  padding: 0;*/
  font-family: "Roboto", sans-serif
}

body {
  /*margin: 0 auto;*/
  /* background: linear-gradient(to right, #787198 20%, #484558 100%); */
  background: linear-gradient(rgba(102,104,139,1), rgba(0,2,4,0.8299999833106995));
  width: 100%;
  height: 1300px;

}

.m-5-auto {
  margin: 5rem auto
}

.primary-button {
  margin-top: 5rem;
  margin-right: 1rem;
  padding: .6rem;
  width: 10rem;
  background: #222;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: all .5s;
  cursor: pointer;
  text-transform: capitalize
}

/***    Landing Page     ***/
.main-title,
.main-para {
  color: #f1f1f1
}

.main-title {
  margin-top: 0%;
  /* padding-top: 10rem; */
  font-size: 5rem;
  font-family: 'Fascinate', cursive;
  text-transform: uppercase
}

.main-para {
  font-size: 2.5rem;
  text-Transform: capitalize
}

#reg_btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#reg_btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#reg_btn:hover span {
padding-right: 25px;
}

#reg_btn:hover span:after {
opacity: 1;
right: 0;
}

/***    Login Page     ***/
h2 {
  font-weight: 300
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0
}

form label {
  float: left;
  font-size: .9rem;
  margin: 0;
  padding: 0
}

.right-label {
  float: right;
  cursor: pointer
}

input {
  width: 15rem;
  padding: .3rem;
  border-radius: 5px;
  outline: none;
  border: none
}

#sub_btn {
  display: block;
  width: 100%;
  padding: .3rem;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 3px;
}

#sub_btn:hover {
  background: #333;
  transition: all .5s
}

footer p {
  margin: 0;
  font-size: .9rem
}

/***    Register Page     ***/
#checkbox {
  width: 1rem
}

form span {
  font-size: .8rem
}

#reset_pass_lbl {
  float: left
}

/***    Home Page     ***/
.home-page-title {
  color: #222
}